.game-card-春 {
    background-color: #bbffbb;
}

.game-card-夏 {
    background-color: #ffbbbb;
}

.game-card-秋 {
    background-color: #eeeebb;
}

.game-card-冬 {
    background-color: #bbbbff;
}

.game-card-selected {
    border: solid 2px;
}

#qqx-card-table-opponent-div {
    height: 30vh;
}

#qqx-card-table-player-div {
    height: 30vh;
}
